<div class="sidebar">
  <div class="sidebar-header">
    <h3 *ngIf="!isCreating">Chats</h3>
    <ng-template #inputTemplate>
      <input
        id="newChatInput"
        [(ngModel)]="newChatTitle"
        (blur)="finishCreate()"
        (keyup.enter)="finishCreate()"
        placeholder="New Chat Title."
      />
    </ng-template>

    <ng-container *ngIf="!isCreating; else inputTemplate">
      <button mat-icon-button (click)="startCreate()" aria-label="Create New Chat">
        <mat-icon>add</mat-icon>
      </button>
    </ng-container>

  </div>

  <ul class="chat-list">
    <li 
      *ngFor="let chat of allChats" 
      [class.active]="openedChat?.chat_id === chat.chat_id"
      (click)="openChat(chat)"
    >
      <div class="chat-title">{{ chat.title }}</div>
      <div class="chat-date">{{ formatDate(chat.created_at) }}</div>
    </li>
  </ul>
</div>
